## Model Selection Demo:

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from itertools import combinations

In [3]:
# Simulate data
np.random.seed(0)
n = 100
p = 5
X = np.random.randn(n, p)
beta = np.array([3, 2, 0, 0, 0])  # Only two variables are nonzero
y = X @ beta + np.random.randn(n) * 0.25

# Add a constant to X for intercept
X = sm.add_constant(X)

In [4]:
# Best subset selection
def best_subset_selection(X, y):
    n, p = X.shape
    models = []
    
    for k in range(1, p + 1):  # Iterate over subset sizes
        for combo in combinations(range(1, p), k):  # Generate combinations of predictors
            combo = (0,) + combo  # Include the intercept
            X_subset = X[:, combo]
            model = sm.OLS(y, X_subset).fit()
            models.append((model, combo))
    
    return models

In [5]:

# Calculate metrics
def calculate_metrics(model, X, y):
    n = len(y)
    k = model.df_model  # Number of predictors, excluding intercept


    
    # AIC
    aic = model.aic
    
    # BIC
    bic = model.bic
    
    
    # PRESS (Prediction Sum of Squares)
    hat_matrix = X @ np.linalg.inv(X.T @ X) @ X.T
    residuals = model.resid
    press = np.sum((residuals / (1 - np.diag(hat_matrix))) ** 2)
    
    # Adjusted R-squared
    r2 = model.rsquared
    adj_r2 = 1 - (1 - r2) * (n - 1) / (n - k)
    
    return aic, bic, press, adj_r2, int(k) #dont consider intercept as a predictor

In [6]:
# Run best subset selection
models = best_subset_selection(X, y)

In [7]:
# Store results in pd DataFrame
results = []
for model, combo in models:
    aic, bic, press, adj_r2, num_predictors = calculate_metrics(model, X[:, combo], y)
    results.append({
        'Predictors': combo,
        'n_Predictors': num_predictors,
        'AIC': aic,
        'BIC': bic,
        'PRESS': press,
        'Adjusted R^2': adj_r2
    })

# Convert results to pd DataFrame
results_df = pd.DataFrame(results)
results_df = results_df.sort_values(by='n_Predictors').reset_index(drop=True)

In [8]:
# Display our results
pd.set_option('display.max_columns', None)  # Show all columns
results_df #0 represents intercept â€“ all models include intercept

,Predictors,n_Predictors,AIC,BIC,PRESS,Adjusted R^2
0,"(0, 1)",1,425.816975,431.027315,413.115577,0.683503
1,"(0, 2)",1,512.082660,517.293000,978.576806,0.250078
2,"(0, 3)",1,539.584614,544.794955,1291.751212,0.012685
3,"(0, 4)",1,540.167897,545.378237,1305.152146,0.006909
4,"(0, 5)",1,540.846176,546.056517,1313.870858,0.000150
5,"(0, 4, 5)",2,542.117139,549.932650,1338.387716,-0.002715
6,"(0, 3, 5)",2,541.579888,549.395398,1323.662600,0.002657
7,"(0, 3, 4)",2,540.865588,548.681098,1317.157514,0.009756
8,"(0, 2, 5)",2,513.147990,520.963500,997.590225,0.249473
9,"(0, 2, 4)",2,513.694881,521.510392,1001.707161,0.245357
10,"(0, 2, 3)",2,513.594754,521.410265,996.220238,0.246113
11,"(0, 1, 5)",2,426.327434,434.142945,414.577154,0.685001
12,"(0, 1, 4)",2,427.516407,435.331918,419.293367,0.681233
13,"(0, 1, 3)",2,427.508969,435.324479,421.214330,0.681257
14,"(0, 1, 2)",2,154.398047,162.213557,27.417289,0.979235
15,"(0, 3, 4, 5)",3,542.835862,553.256542,1350.324577,-0.000155
16,"(0, 2, 4, 5)",3,514.599042,525.019722,1020.434993,0.245887
17,"(0, 2, 3, 5)",3,514.737417,525.158098,1016.140269,0.244843
18,"(0, 2, 3, 4)",3,515.191766,525.612447,1020.374304,0.241404
19,"(0, 1, 4, 5)",3,428.168156,438.588837,421.841988,0.682260
20,"(0, 1, 2, 3)",3,152.124197,162.544878,26.753633,0.979899
21,"(0, 1, 3, 4)",3,429.198132,439.618812,428.215093,0.678970
22,"(0, 1, 2, 5)",3,156.225405,166.646085,27.914618,0.979057
23,"(0, 1, 2, 4)",3,156.353720,166.774401,28.008210,0.979030
24,"(0, 1, 3, 5)",3,427.958204,438.378885,422.295046,0.682926
25,"(0, 2, 3, 4, 5)",4,516.178732,529.204583,1039.974317,0.241227
26,"(0, 1, 2, 3, 4)",4,154.055864,167.081715,27.276824,0.979703
27,"(0, 1, 2, 3, 5)",4,153.831854,166.857705,27.257298,0.979748
28,"(0, 1, 2, 4, 5)",4,158.199215,171.225066,28.545172,0.978844
29,"(0, 1, 3, 4, 5)",4,429.793338,442.819189,430.373994,0.680151
30,"(0, 1, 2, 3, 4, 5)",5,155.792421,171.423442,27.819818,0.979543